@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  min-height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}
#app {
  min-height: 100dvh;
  width: 100dvw;
  background-color: #beeaff;
  display: flex;
  flex-direction: column;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9edefc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9edefc;
}
